[Unit]
Description=PyMyGW service
After=rsyslog.target remote-fs.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/pymygw/
ExecStart=/opt/pymygw/app.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
